/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* HTML & Body styling */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom, #eee 0%, #ddd 60%, #ccc 100%); */
    background-size: auto;
    overflow: hidden;
}

body::after {
    content: "";
    background-image: url(https://www.transparenttextures.com/patterns/dotnoise-light-grey.png);
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 2; 
}

/* Center section */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    text-align: left;
    position: relative;
}

section::after {
    content: '';
    width: 86%;
    height: 0px;
    position: absolute;
    top: 55%;
    box-shadow: 0px 0px 44px 8px black;
    z-index: 0;
    left: 6%;
    opacity: 0.7;
}

/* SVG and h1 styling */
svg {
    width: 55vmin;
    height: auto;
    z-index: 1;
    position: relative;
}

h1 {
    font-family: 'DM Serif Display', serif;
    margin: 0;
    line-height: 1;
}

h1:nth-of-type(1){
    font-size: 3.5vmin;
    opacity: 0.15;
    margin-top: 4vmin;
}

h1:nth-of-type(2){
    font-size: 3.5vmin;
    opacity: 0.2;
}
